footer {
  font-size: 12px;
  background-color: #e7e6e6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
