// _components.scss/navbar

.navbar {
  @include flex-center(row, flex-start, center);
  background-color: $bg-color;
  font-size: $font-size-base;
}

nav {
  img {
    width: 150px;
    height: 100px;
  }
}

.navbar-brand {
  font-size: $font-size-navbar-brand;
  font-weight: $font-weight-bold;
}

@include respond(md) {
  .navbar {
    width: 100%;
  }
}

@include respond(sm) {
  body {
    margin: 16px;
  }
  .logo-Img {
    width: 0;
    height: 0;
  }
}