// _components.scss/navbar

.navbar {
    display: flex;
    background-color: #e7e6e6;
    font-size: 14px;
  }
  nav img {
    width: 150px;
    height: 100px;
  }
  
  .navbar-brand {
    font-size: 25px;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    
    .navbar {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    body {
      margin: 16px;
    }
  
    .logo-Img {
      width: 0px;
      height: 0px;
    }
  }
