.plans-main {
  @include flex-center(row, center, center, 32px);
  padding: 20px;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.021)
    ),
    url(./Props/planimg.jpg);
  background-size: cover;
}

@include respond(md) {
  .plans-main {
    @include flex-center(column, center, center, 32px);
  }
  .workout-plan {
    @include flex-center(column, center, center, 32px);
    width: 300px;
  }
}