.workouts-main {
  @include flex-center(column, center, center, 32px);
  padding: 20px;
}

.plan-img {
  width: 300px;
  height: 300px;
}

.workout-plan {
  @include flex-center(row, center, flex-start, 32px);
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
  list-style: none;
  border-radius: 20px;
  border: solid 2px black;
  background-color: $bg-color;
}

.plan-text {
  @include flex-center(column, center, center, 32px);
  padding: 20px;
  margin: 20px;
  width: 100%;
  text-align: center;
  list-style: none;
  border-radius: 20px;
}

@include respond(md) {
  .workout-plan {
    @include flex-center(column, center, center, 32px);
    width: 300px;
  }
  .plan-img {
    width: 250px;
    height: 250px;
  }
}

@include respond(sm) {
  .workout-plan {
    font-size: small;
    
    h2 {
      font-size: medium;
      font-weight: bold;
    }
  }
  .plan-img {
    width: 250px;
    height: 250px;
  }
}